@font-face {
    font-family: 'chakra-petch';
    src: url('/fonts/chakrapetch/ChakraPetch-Regular.woff2') format('woff2');
    font-weight: 100 499;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'chakra-petch';
    src: url('/fonts/chakrapetch/ChakraPetch-Bold.woff2') format('woff2');
    font-weight: 500 900;
    font-style: normal;
    font-display: swap;
}
